:root{
    --red: #e62020;
    --yellow: #ffe600;
}

@font-face {
    font-family: Omni;
    src: url(fonts/OmniMasthead-MVwLx.ttf);
}

body{
    background-color: var(--red);
    color: var(--yellow);
    text-align: center;
}

::selection{
    background-color: var(--yellow);
    color: var(--red);
}

h1{
    margin: auto;
    margin-top: 50px;
    font-family: Omni;
    background-color: black;
    color: white;
    font-size: 8vw;
    font-weight: normal;
    width: fit-content;
    padding: 20px;
}

h1::selection{
    color: black;
    background-color: white;
}

ul{
    list-style-type: none;
    padding: 0
}

ul li::before{
    content: "# ";
}

a{
    color: var(--yellow);
    text-decoration: none;
}