:root{
    --red:      #e62020;
    --yellow:   #ffe600;
    --black:    #000000;
    --white:    #fcf9eb;
}

@font-face {
    font-family: Omni;
    src: url(fonts/OmniMasthead-MVwLx.ttf);
}

body{
    background-color: var(--red);
    color: var(--yellow);
    text-align: center;
    font-size: 18px;
}

::selection{
    background-color: var(--yellow);
    color: var(--red);
}

h1{
    margin: auto;
    margin-top: 50px;
    font-family: Omni;
    background-color: var(--black);
    color: var(--white);
    font-size: 8vw;
    font-weight: normal;
    width: fit-content;
    padding: 20px;
    text-transform: uppercase;
}

h1::selection{
    color: var(--black);
    background-color: var(--white);
}

h2{
    font-size: 1.5em;
}

ul{
    list-style-type: none;
    padding: 0
}

a{
    color: var(--yellow);
    text-decoration: none;
}

a::before{
    content: "# ";
}

input, textarea{
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    border: none;
    font-family: inherit;
    font-size: 1.5em;
}

input::selection, textarea::selection{
    color: var(--black);
    background-color: var(--white);
}

input, textarea, [contenteditable]{
    caret-color: transparent;
}

input:focus-visible, textarea:focus-visible, [contenteditable]:focus-visible{
    outline: none;
}

@media (max-width: 767px) {
    body{
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    body{
        font-size: 18px;
    }
}

/* 
@media (min-width: 1400px) {} 
@media (max-width: 1399px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
*/