@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

html{
    overflow: hidden;
}

body{
    margin: 0;
    font-family: Poppins, 'Courier New', Courier, monospace;
}

#cv{
    position: relative;
    cursor: crosshair;
}

.glass{
    background: whitesmoke;
    box-shadow: 
                0       8px     32px    0 #00000080;

    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    mix-blend-mode: multiply;
    border-radius: 5px;
    transition: opacity 0.5s;  
}

#menu{
    position: absolute;
    transition: display 1s ease;
    z-index: 2
}
#menu div {
    padding: 10px;
    cursor: pointer;
}
#menu div:hover, #menu div.selected{
    background: white;
}
#menu div:first-child{
    border-radius: 5px 5px 0 0;
}
#menu div:last-child{
    border-radius: 0 0 5px 5px;
}

#menu-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1.5em;
    z-index: 1;
}

#help{
    position: absolute;
    top: 10px;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
