body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#cv{
    position: relative;
}

.glass{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 5px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */    
}

.menu{
    position: absolute;
    transition: display 1s ease;
    z-index: 2
}

.menu div {
    padding: 10px;
    cursor: pointer;
}

.menu div:hover, .menu div.selected{
    background: rgba( 255, 255, 255, 0.4 );
}

.menu div:first-child{
    border-radius: 5px 5px 0 0;
}

.menu div:last-child{
    border-radius: 0 0 5px 5px;
}


#menu-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1.5em;
    z-index: 1;
}
